
.about {
  margin-top: 6rem;
  margin-bottom: 6rem;
  @include media-breakpoint-up(sm){
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  @include media-breakpoint-up(lg){
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
  @include media-breakpoint-up(xl){
    margin-top: 20rem;
    margin-bottom: 20rem;
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    @extend .align-items-center;
    @extend .jc-space-evenly;
    align-items: center;
    justify-content: space-around;
    li {
    }
  }

  .first {
    position: relative;
    margin-top: 10rem;
    z-index: 1;
    @extend .shadow;
    left: 50px;
    @include media-breakpoint-up(sm){
      left: 100px;
    }
  }

  .second {
    @extend .shadow;
    right: 50px;
    @include media-breakpoint-up(sm){
      right: 100px;
    }
  }

  .first, .second {
    width: 185px;
    position: relative;
    @include media-breakpoint-up(sm){
      width: 300px;
    }
    @include media-breakpoint-up(lg){
      width: 350px;
    }
    @include media-breakpoint-up(xl){
      width: 450px;
    }
  }
}
