#accueil, #services, #refection {
  .services {
    .banner {
      background-image: url('../img/banner_services.jpg');
    }
  }
}

#maison_neuve {
  .services {
    .banner {
      background-image: url('../img/services_maison_neuve.jpg');
    }
  }
}

#reparation {
  .services {
    .banner {
      background-image: url('../img/services_reparation.jpg');
    }
  }
}

#deneigement {
  .services {
    .banner {
      background-image: url('../img/services_deneigement.jpg');
    }
  }
}


.services {
  .banner{
    h1 {
      max-width: 950px;
      margin: 0 auto;
      text-align: center;
      @extend .mt-8;
    }
  }
}

#projets {
  .services {
    .banner {
      background-image: url('../img/projets.jpg');
    }
  }
}
