.contact {
  form{
    margin-top: 10rem;
  }
  .row {

    margin-top: 8rem;
    margin-bottom: 18rem;
  }
}

.form-group {
  display: block;

  input, textarea {
    width: 100%;
    border: none;
    background: #fafafa;
    padding: 2rem;
    margin-bottom: 2.5rem;
  }


  label {
    display: block;
  }
}

input[type="submit"]{
  margin-top: 1rem;
}