footer {
  background: #FCFCFC;

  .row:first-child {
    @extend .pt-8;
    @extend .mb-8;
    @extend .pt-md-10;
  }
  .row:last-child {
    margin-bottom: 0;
  }
  h5 {
    @extend .mt-5;
    @extend .mt-md-0;
    @extend .mb-md-6;

    &:after {
      content: "";
      display: block;
      width: 51px;
      height: 3px;
      background-color: $grey-400;
      margin: 10px auto 2rem;
      @include media-breakpoint-up(md){
        margin-right: auto;
        margin-left: 0;
      }
    }
  }

  li {
    @extend .mb-2;
    @extend .mb-md-4;
  }

  .contact {
    @extend .d-flex;
    flex-direction: column;
    i {
      padding-right: 10px;
    }
  }

  .social {
    @include media-breakpoint-up(md){
      margin-top: 4rem;
    }
  }

  .copy {
    &:before {
      content: "";
      width: 90%;
      height: 2px;
      background-color: $grey-200;
      margin: 0 auto 2rem;;

      @include media-breakpoint-up(md){
        width: 100%;
      }

    }
  }
}

