footer {
  background: #FCFCFC;

  .row:first-child {
    padding-top: 9rem;
  }
  .row:last-child {
    margin-bottom: 0;
  }
  h5 {
    margin-bottom: 4rem;
  }

  li {
    margin-bottom: 2rem;
  }
}