header {
  transition: 0.5s all;
  position: absolute;
  z-index: 999;
  top: 112px;
  right: 0;
  width: 70%;
  @media only screen and (min-width: 1400px){
    width: 60%;
  }


  nav {
    @extend .shadow;
    height: 106px;
    z-index: 2;
    display: flex;
    background-color: white;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        flex-grow: 1;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 1rem;
        a {
          font-weight: 500;
          color: $grey-700;
          transition: 0.3s all;
          &:hover {
            color: $main-color;
          }
        }

        &.last {
          flex-grow: 1;
          display: flex;
          align-items: center;
          background-color: $main-color;
          height: 100%;
          a {
            line-height: 1.2;
            padding-top: .2rem;
            @include fluid-type(18px, 30px);
            font-weight: 500;
            flex-grow: 1;
            color: white;
            text-align: center;

          }
        }
      }
    }
  }
}

.header-scrolled{
  position: fixed;
  top: 0;
  width: 100%;



}