.hero-banner {
  position: relative;
  height: 600px;
  @include media-breakpoint-up(sm) {
    height: 700px;
  }
  @include media-breakpoint-up(md) {
    height: 962px;
  }
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../img/banner_img.jpg');
  background-position: top;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center;
    background-image: url('../img/hero_banner_red.svg');
  }

  .white-border {
    position: absolute;
    right: -1px;
    top: 0;
  }


  .logo {
    width: 90px;
    margin-top: 8px;
    @include media-breakpoint-up(md) {
      width: 129px;
    }
  }

}