body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  @extend .shadow;
}
//html, body { height: 100% }
img {
  max-width: 100%;
}
html{scroll-behavior:smooth}
.container {
  max-width: 1364px;

}

.row {
  margin-bottom: 9em;
}

.services, .testimonial {
  position: relative;
}

ul {
  padding-left: 0;
}