#projets{
  .services {
    .banner {
      max-height: 322px;
    }
  }

  .projets-filter {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;

    li {
      cursor: pointer;
      @include media-breakpoint-up(md){
        max-width: 260px;
        min-width: 200px;
      }
      @extend .mb-3;
      //@extend .mb-md-0;
      @extend .mr-3;
      @extend .py-3;
      @extend .px-4;
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .text-center;
      border: 4px solid #777777;
      @include fluid-type(18px, 20px);
      &.active {
        border: 4px solid $main-color;
        color: $main-color;
      }
    }
  }

  .grid {
    div {
      @extend .col-12;
      @extend .col-sm-6;
      @extend .mb-5;
      @extend .col-md-4;
      @extend .col-lg-3;
      @extend .text-center;
      img {
        width: 100%;
      }
    }
  }
}