#projets{
  .services {
    .banner {
      max-height: 322px;
    }
  }

  .projets-filter{
    margin-left: 15px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    li{
      &:first-child{
        flex-grow: inherit;
        width: inherit;
      }
      width: 125px;
      @include media-breakpoint-up(sm){
        width: auto;
      }

      cursor: pointer;
      flex-grow: 1;
      @include media-breakpoint-up(md){
        max-width: 260px;
        min-width: 200px;
      }
      @extend .mb-3;
      //@extend .mb-md-0;
      @extend .mr-3;
      @extend .py-2;
      @extend .px-3;
      @extend .py-md-3;
      @extend .px-md-4;
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .text-center;
      border: 4px solid #777777;
      @include fluid-type(15px, 20px);
      &.active {
        border: 4px solid $main-color;
        color: $main-color;
      }
    }
  }

  .grid {
    div {
      @extend .col-12;
      @extend .col-sm-6;
      @extend .mb-5;
      @extend .col-md-4;
      @extend .col-lg-3;
      @extend .text-center;
      img {
        width: 100%;
      }
    }
  }
}

.light-box {
  position: relative;
  top: -100px;
  @include media-breakpoint-up(lg){
    top: -150px;
  }
  @include media-breakpoint-up(xl){
    top: -200px;
  }

  img {
    @extend .shadow;
  }

}

.light-box-content {
  position: relative;
  top: -150px;
  @include media-breakpoint-up(lg){
    top: 0;
  }

}

