.owl-item {
  img.shadow {
    max-width: 375px !important;
  }
  @include media-breakpoint-up(sm) {
    img.shadow {
      max-width: 400px !important;
    }
  }
  @include media-breakpoint-up(md) {
    img.shadow {
      max-width: 450px !important;
    }
  }
  @include media-breakpoint-up(lg) {
    img.shadow {
      max-width: 500px !important;
    }
  }

  @media only screen and (min-width: 1300px){
    img.shadow {
      max-width: 300px !important;
    }
  }
  @media only screen and (min-width: 1500px){
    img.shadow {
      max-width: 350px !important;
    }
  }
  .content {
    max-width: 350px !important;
    width: 80%;
    height: 125px;
    @include media-breakpoint-up(md) {
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      max-width: 400px !important;
    }
    @include media-breakpoint-up(xl) {
      height: 145px;
    }
    @media only screen and (min-width: 1300px){
      width: 60%;
    }
    position: relative;
    border-left: 4px solid $grey-400;
    border-right: 4px solid $grey-400;
    border-bottom: 4px solid $grey-400;

    h3 {
      margin-top: 1.5rem;
    }

    .tag {
      display: none;
      @media only screen and (min-width: 1500px){
        display: flex;
      }
      position: absolute;
      z-index: 2;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $grey-400;
      width: 75px;
      height: 75px;

      img {
        width: 35px !important;
      }

      top: -50px;
      right: -50px;
      @include media-breakpoint-up(sm) {
        top: -70px;
        right: -65px;
        width: 100px;
        height: 100px;
        img {
          width: 47px !important;
        }
      }
    }
  }
  &.active {
    &.center {
      .card {
        @media only screen and (min-width: 1300px){
          img.shadow {
            max-width: 400px !important;
          }
        }

        @media only screen and (min-width: 1500px){
          img.shadow {
            max-width: 425px !important;
          }
        }
        .content {
          @include media-breakpoint-up(xl) {
            width: 320px;
          }

          border-left: 4px solid $main-color;
          border-right: 4px solid $main-color;
          border-bottom: 4px solid $main-color;
          h3 {
            color: $main-color;
          }
          &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            bottom: 0;
            left: calc(50% - 15px);
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            border-bottom: 17px solid $main-color;
          }

          .tag {
            background-color: $main-color;
          }
        }
      }
    }
  }
}

#arrow-left {
  left: 85px;
  @include media-breakpoint-up(sm) {
    left: 30px;
  }

  @media only screen and (min-width: 1300px){
    left: 15px;
  }

  @media only screen and (min-width: 1500px){
    left: 3%;
  }

  @media only screen and (min-width: 1750px){
    left: 8%;
  }
}

#arrow-right {
  right: 85px;
  @include media-breakpoint-up(sm) {
    right: 30px;
  }

  @media only screen and (min-width: 1300px){
    right: 15px;
  }

  @media only screen and (min-width: 1300px){
    right: 15px;
  }

  @media only screen and (min-width: 1500px){
    right: 3%;
  }

  @media only screen and (min-width: 1750px){
    right: 8%;
  }
}

#arrow-left, #arrow-right {
  cursor: pointer;
  position: absolute;
  top: 83%;
  @include media-breakpoint-up(sm) {
    top: 50%;
  }
  z-index: 2;
}


.slider {
  display: flex;
  position: relative;
}

.card > div {
  position: relative;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.services {
  padding-bottom: 6rem;
  .container {

    @include media-breakpoint-up(lg) {
      top: -240px;
    }
  }

  .banner {
  height: 225px;
    background-position: left;
    @include media-breakpoint-up(sm) {
      height: 300px;
    }

    @include media-breakpoint-up(md) {
      height: 350px;
    }
    @include media-breakpoint-up(lg) {
      height: 420px;
    }
    @include media-breakpoint-up(xl) {
      height: 490px;
    }
    background-repeat: no-repeat;
  }
}

.filter {
  margin-top: 2rem;
  max-width: 345px;
  li {
    height: 60px;
    @include media-breakpoint-up(md) {
      height: 70px;
    }

    padding: 1rem 2rem;
    @extend .mb-1;
    display: flex;
    align-items: center;
    a {
      color: #010101;
      text-transform: none;
      @include fluid-type(18px, 20px);
    }

    border-left: 5px solid #252525;
    &.active {
      border-left: 5px solid $main-color;

    }
    &.first {
      border-left: 5px solid $main-color;
      background-color: $main-color;
      color: white;
      @include fluid-type(22px, 25px);
      font-weight: 700;
    }
    background-color: #FAFAFA;

  }
}

#accueil, #services {
  .services {
    .container {
      position: relative;
      top: -120px;
      @include media-breakpoint-up(lg) {
        top: -240px;
      }
    }
  }

}

.card a{
  text-transform: initial;
  color: initial;
}
