.card {
  position: relative;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  img.shadow {
    width: 250px !important;
  }

  @include media-breakpoint-up(sm) {
    img.shadow {
      width: 385px !important;
    }
  }

  .content {
    width: 225px;
    height: 100px;
    @include media-breakpoint-up(sm) {
      width: 300px;
      height: 100px;
    }
    @include media-breakpoint-up(lg) {
      width: 320px;
      height: 125px;
    }
    @include media-breakpoint-up(xl) {
      width: 320px;
      height: 145px;
    }
    position: relative;
    border-left: 4px solid $grey-400;
    border-right: 4px solid $grey-400;
    border-bottom: 4px solid $grey-400;

    h3 {
      margin-top: 1.5rem;

    }

    .tag {
      display: none;
      @include media-breakpoint-up(sm) {
        display: flex;
      }
      position: absolute;
      z-index: 2;

      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $grey-400;
      width: 75px;
      height: 75px;

      img {
        width: 35px !important;
      }

      top: -50px;
      right: -50px;
      @include media-breakpoint-up(sm) {
        top: -70px;
        right: -65px;
        width: 100px;
        height: 100px;
        img {
          width: 47px !important;
        }
      }
    }
  }
}

.services {
  .container {
    position: relative;
    top: -120px;
    @include media-breakpoint-up(lg) {
      top: -240px;
    }

  }

  .banner {
    background-image: url('../img/banner_services.jpg');
    height: 300px;
    @include media-breakpoint-up(lg) {
      height: 420px;
    }
    @include media-breakpoint-up(xl) {
      height: 490px;
    }
    background-repeat: no-repeat;
  }
}

#arrow-left, #arrow-right {
  position: absolute;
  top: 85%;
  @include media-breakpoint-up(sm) {
    top: 50%;
  }

  z-index: 2;
}

#arrow-left {
  left: 75px;
  @include media-breakpoint-up(sm) {
    left: 30px;
  }
  @include media-breakpoint-up(lg) {
    left: 15px;
  }
  @media only screen and (min-width: 1500px){
    left: 50px;
  }
}

#arrow-right {
  right: 75px;
  @include media-breakpoint-up(sm) {
    right: 30px;
  }
  @include media-breakpoint-up(lg) {
    right: 15px;
  }

  @media only screen and (min-width: 1500px){
    right: 50px;
  }

}

.slider {
  display: flex;
  position: relative;
}

.owl-item {
  &.active {
    &.center {
      .card {
        @include media-breakpoint-up(lg) {
          img.shadow {
            width: 429px !important;
          }
        }

        .content {
          width: 225px;
          height: 125px;
          @include media-breakpoint-up(sm) {
            width: 300px;

          }
          @include media-breakpoint-up(lg) {
            width: 320px;
          }
          @include media-breakpoint-up(xl) {
            width: 320px;
            height: 145px;
          }

          border-left: 4px solid $main-color;
          border-right: 4px solid $main-color;
          border-bottom: 4px solid $main-color;
          h3 {
            color: $main-color;
          }
          &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            bottom: 0;
            left: calc(50% - 15px);
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            border-bottom: 17px solid $main-color;
          }

          .tag {
            background-color: $main-color;
          }
        }
      }
    }
  }
}