.testimonial {
  background-image: url('../img/banner_testimonial.jpg');
  background-repeat: no-repeat;
  height: 490px;

  @extend .justify-content-center;
  @extend .d-flex;
  @extend .align-items-center;

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    position: relative;
    max-width: 500px;
    @include media-breakpoint-up(xl) {
      max-width: 750px;

    }
    text-align: center;
    margin: 0 30px 3rem;
  }

}

.guillemet {
  display: flex;
  position: relative;
  width: 30px;
  @include media-breakpoint-up(md) {
    left: 0;
    width: 35px;
  }

}