

@font-face {
  font-family: "Geomanist";
  src: url(../fonts/Geomanist-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Geomanist";
  src: url(../fonts/Geomanist-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Geomanist";
  src: url(../fonts/Geomanist-Book.otf);
  font-weight: 200;
}

@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab-Medium.ttf);
  font-weight: 500;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

h1 {
  @include fluid-type(35px, 102px);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  color: white;
  line-height: 1.07;
  @media (min-width: 1200px) {
    margin-top: 0;
  }

  b {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
  }
}

h2 {
  @include fluid-type(35px, 55px);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
}

h4 {
  font-family: "Geomanist", sans-serif;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
  @include fluid-type(16px, 24px);
}

h3 {
  font-family: "Geomanist", sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  position: relative;
  @media (min-width: 1200px) {
    font-size: 2.9rem;
  }
}

h5 {
  font-family: "Geomanist", sans-serif;
  font-weight: 200;
  margin-bottom: 0;
  position: relative;
  text-transform: uppercase;
  @media (min-width: 1200px) {
    font-size: 1.6rem;
  }
}

h6 {
  font-family: "Geomanist", sans-serif;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
  @media (min-width: 1200px) {
    font-size: 1.8rem;
  }

  &::before {
    position: absolute;
    content: "";
    width: 71px;
    height: 2px;
    background-color: white;
    left: -80px;
    top: calc(50% - 2px);
  }

  &::after {
    position: absolute;
    content: "";
    width: 71px;
    height: 2px;
    background-color: white;
    right: -80px;
    top: calc(50% - 2px);
  }
}

a {
  font-family: "Geomanist", sans-serif;
  @include fluid-type(14px, 18px);
  text-transform: uppercase;
  text-decoration: none;
}

p {
  @include fluid-type(18px, 21px);
  font-family: "Geomanist", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.75;
}

.btn {
  font-weight: 500;
  color: white;
  padding: 0.9em 1.5em 0.8em;
  border: 2px solid white;
  transition: 0.3s all;
  text-transform: uppercase;
  @include media-breakpoint-up(sm){
    padding: 1.2em 2.77em 1.05em;
  }

  &:hover {
    background: white;
    color: $main-color;
  }

  &.red {
    background: $main-color;
  }
}

.testimonial {
  p {
    font-weight: 500;
    @media (min-width: 1200px) {
      font-size: 4rem;
      line-height: 4.9rem;
    }
  }

  h5 {
    color: $main-color;
  }
}

label {
  font-family: "Geomanist", sans-serif;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: $grey-400;
  font-weight: 200;
  @media (min-width: 1200px) {
    font-size: 1.8rem;
  }
}

footer {
  h5 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    color: $grey-400;
    text-transform: uppercase;
    @media (min-width: 1200px) {
      font-size: 2.5rem;
    }
  }

  li {
    a {
      color: $grey-400;
      @media (min-width: 1200px) {
        font-size: 1.6rem;
      }
    }
  }
}
