$xs: 320px;
$sm: 500px;
$md: 750px;
$lg: 950px;
$xl: 1200px;


$main-color: #BE0F16;
$grey-100: #F4F4F4;
$grey-200: #D5D5D5;
$grey-300: #B9B9B9;
$grey-400: #777777;
$grey-500: #8F8F8F;
$grey-600: #010101;
$grey-700: #252525;