
.col {
    max-width: 100%;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;


    &-6 {
        flex: 0 50%;
    }
}

.row {
  display: flex;
  padding-left: -1rem;
  padding-right: -1rem;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.txt-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

header {
  &.row {
    justify-content: space-between;
    align-items: baseline;
  }

  .nav {
    ul {
      @extend .row;

      li {
        @extend .mr-1;
      }
    }
  }
}

section {
  @extend .mb-5;
}

.cta {
  flex: 0 50%;
  padding-left: 15px;
  padding-right: 15px;
}


