$shadow1:   0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
$shadow2:   0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
$shadow3:   0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
$shadow4:   0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
$shadow5:   0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
$shadow6:   0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
$shadow7:   0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
$shadow8:   0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
$shadow9:   0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
$shadow10:  0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
$shadow11:  0 6px 7px -4px rgba(0,0,0,.2), 0 11px 15px 1px rgba(0,0,0,.14), 0 4px 20px 3px rgba(0,0,0,.12);
$shadow12:  0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
$shadow13:  0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
$shadow14:  0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
$shadow15:  0 8px 9px -5px rgba(0,0,0,.2), 0 15px 22px 2px rgba(0,0,0,.14), 0 6px 28px 5px rgba(0,0,0,.12);
$shadow16:  0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
$shadow17:  0 8px 11px -5px rgba(0,0,0,.2), 0 17px 26px 2px rgba(0,0,0,.14), 0 6px 32px 5px rgba(0,0,0,.12);
$shadow18:  0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12);
$shadow19:  0 9px 12px -6px rgba(0,0,0,.2), 0 19px 29px 2px rgba(0,0,0,.14), 0 7px 36px 6px rgba(0,0,0,.12);
$shadow20:  0 10px 13px -6px rgba(0,0,0,.2), 0 20px 31px 3px rgba(0,0,0,.14), 0 8px 38px 7px rgba(0,0,0,.12);
$shadow21:  0 10px 13px -6px rgba(0,0,0,.2), 0 21px 33px 3px rgba(0,0,0,.14), 0 8px 40px 7px rgba(0,0,0,.12);
$shadow22:  0 10px 14px -6px rgba(0,0,0,.2), 0 22px 35px 3px rgba(0,0,0,.14), 0 8px 42px 7px rgba(0,0,0,.12);
$shadow23:  0 11px 14px -7px rgba(0,0,0,.2), 0 23px 36px 3px rgba(0,0,0,.14), 0 9px 44px 8px rgba(0,0,0,.12);
$shadow24:  0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);

$shadow1-light:   0 1px 3px 0 rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.07), 0 2px 1px -1px rgba(0,0,0,.06);
$shadow2-light:   0 1px 5px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.07), 0 3px 1px -2px rgba(0,0,0,.06);
$shadow3-light:   0 1px 8px 0 rgba(0,0,0,.1), 0 3px 4px 0 rgba(0,0,0,.07), 0 3px 3px -2px rgba(0,0,0,.06);
$shadow4-light:   0 2px 4px -1px rgba(0,0,0,.1), 0 4px 5px 0 rgba(0,0,0,.07), 0 1px 10px 0 rgba(0,0,0,.06);
$shadow5-light:   0 3px 5px -1px rgba(0,0,0,.1), 0 5px 8px 0 rgba(0,0,0,.07), 0 1px 14px 0 rgba(0,0,0,.06);
$shadow6-light:   0 3px 5px -1px rgba(0,0,0,.1), 0 6px 10px 0 rgba(0,0,0,.07), 0 1px 18px 0 rgba(0,0,0,.06);
$shadow7-light:   0 4px 5px -2px rgba(0,0,0,.1), 0 7px 10px 1px rgba(0,0,0,.07), 0 2px 16px 1px rgba(0,0,0,.06);
$shadow8-light:   0 5px 5px -3px rgba(0,0,0,.1), 0 8px 10px 1px rgba(0,0,0,.07), 0 3px 14px 2px rgba(0,0,0,.06);
$shadow9-light:   0 5px 6px -3px rgba(0,0,0,.1), 0 9px 12px 1px rgba(0,0,0,.07), 0 3px 16px 2px rgba(0,0,0,.06);
$shadow10-light:  0 6px 6px -3px rgba(0,0,0,.1), 0 10px 14px 1px rgba(0,0,0,.07), 0 4px 18px 3px rgba(0,0,0,.06);
$shadow11-light:  0 6px 7px -4px rgba(0,0,0,.1), 0 11px 15px 1px rgba(0,0,0,.07), 0 4px 20px 3px rgba(0,0,0,.06);
$shadow12-light:  0 7px 8px -4px rgba(0,0,0,.1), 0 12px 17px 2px rgba(0,0,0,.07), 0 5px 22px 4px rgba(0,0,0,.06);
$shadow13-light:  0 7px 8px -4px rgba(0,0,0,.1), 0 13px 19px 2px rgba(0,0,0,.07), 0 5px 24px 4px rgba(0,0,0,.06);
$shadow14-light:  0 7px 9px -4px rgba(0,0,0,.1), 0 14px 21px 2px rgba(0,0,0,.07), 0 5px 26px 4px rgba(0,0,0,.06);
$shadow15-light:  0 8px 9px -5px rgba(0,0,0,.1), 0 15px 22px 2px rgba(0,0,0,.07), 0 6px 28px 5px rgba(0,0,0,.06);
$shadow16-light:  0 8px 10px -5px rgba(0,0,0,.1), 0 16px 24px 2px rgba(0,0,0,.07), 0 6px 30px 5px rgba(0,0,0,.06);
$shadow17-light:  0 8px 11px -5px rgba(0,0,0,.1), 0 17px 26px 2px rgba(0,0,0,.07), 0 6px 32px 5px rgba(0,0,0,.06);
$shadow18-light:  0 9px 11px -5px rgba(0,0,0,.1), 0 18px 28px 2px rgba(0,0,0,.07), 0 7px 34px 6px rgba(0,0,0,.06);
$shadow19-light:  0 9px 12px -6px rgba(0,0,0,.1), 0 19px 29px 2px rgba(0,0,0,.07), 0 7px 36px 6px rgba(0,0,0,.06);
$shadow20-light:  0 10px 13px -6px rgba(0,0,0,.1), 0 20px 31px 3px rgba(0,0,0,.07), 0 8px 38px 7px rgba(0,0,0,.06);
$shadow21-light:  0 10px 13px -6px rgba(0,0,0,.1), 0 21px 33px 3px rgba(0,0,0,.07), 0 8px 40px 7px rgba(0,0,0,.06);
$shadow22-light:  0 10px 14px -6px rgba(0,0,0,.1), 0 22px 35px 3px rgba(0,0,0,.07), 0 8px 42px 7px rgba(0,0,0,.06);
$shadow23-light:  0 11px 14px -7px rgba(0,0,0,.1), 0 23px 36px 3px rgba(0,0,0,.07), 0 9px 44px 8px rgba(0,0,0,.06);
$shadow24-light:  0 11px 15px -7px rgba(0,0,0,.1), 0 24px 38px 3px rgba(0,0,0,.07), 0 9px 46px 8px rgba(0,0,0,.06);

$shadow1-strong:   0 1px 3px 0 rgba(0,0,0,.3), 0 1px 1px 0 rgba(0,0,0,.21), 0 2px 1px -1px rgba(0,0,0,.18);
$shadow2-strong:   0 1px 5px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.21), 0 3px 1px -2px rgba(0,0,0,.18);
$shadow3-strong:   0 1px 8px 0 rgba(0,0,0,.3), 0 3px 4px 0 rgba(0,0,0,.21), 0 3px 3px -2px rgba(0,0,0,.18);
$shadow4-strong:   0 2px 4px -1px rgba(0,0,0,.3), 0 4px 5px 0 rgba(0,0,0,.21), 0 1px 10px 0 rgba(0,0,0,.18);
$shadow5-strong:   0 3px 5px -1px rgba(0,0,0,.3), 0 5px 8px 0 rgba(0,0,0,.21), 0 1px 14px 0 rgba(0,0,0,.18);
$shadow6-strong:   0 3px 5px -1px rgba(0,0,0,.3), 0 6px 10px 0 rgba(0,0,0,.21), 0 1px 18px 0 rgba(0,0,0,.18);
$shadow7-strong:   0 4px 5px -2px rgba(0,0,0,.3), 0 7px 10px 1px rgba(0,0,0,.21), 0 2px 16px 1px rgba(0,0,0,.18);
$shadow8-strong:   0 5px 5px -3px rgba(0,0,0,.3), 0 8px 10px 1px rgba(0,0,0,.21), 0 3px 14px 2px rgba(0,0,0,.18);
$shadow9-strong:   0 5px 6px -3px rgba(0,0,0,.3), 0 9px 12px 1px rgba(0,0,0,.21), 0 3px 16px 2px rgba(0,0,0,.18);
$shadow10-strong:  0 6px 6px -3px rgba(0,0,0,.3), 0 10px 14px 1px rgba(0,0,0,.21), 0 4px 18px 3px rgba(0,0,0,.18);
$shadow11-strong:  0 6px 7px -4px rgba(0,0,0,.3), 0 11px 15px 1px rgba(0,0,0,.21), 0 4px 20px 3px rgba(0,0,0,.18);
$shadow12-strong:  0 7px 8px -4px rgba(0,0,0,.3), 0 12px 17px 2px rgba(0,0,0,.21), 0 5px 22px 4px rgba(0,0,0,.18);
$shadow13-strong:  0 7px 8px -4px rgba(0,0,0,.3), 0 13px 19px 2px rgba(0,0,0,.21), 0 5px 24px 4px rgba(0,0,0,.18);
$shadow14-strong:  0 7px 9px -4px rgba(0,0,0,.3), 0 14px 21px 2px rgba(0,0,0,.21), 0 5px 26px 4px rgba(0,0,0,.18);
$shadow15-strong:  0 8px 9px -5px rgba(0,0,0,.3), 0 15px 22px 2px rgba(0,0,0,.21), 0 6px 28px 5px rgba(0,0,0,.18);
$shadow16-strong:  0 8px 10px -5px rgba(0,0,0,.3), 0 16px 24px 2px rgba(0,0,0,.21), 0 6px 30px 5px rgba(0,0,0,.18);
$shadow17-strong:  0 8px 11px -5px rgba(0,0,0,.3), 0 17px 26px 2px rgba(0,0,0,.21), 0 6px 32px 5px rgba(0,0,0,.18);
$shadow18-strong:  0 9px 11px -5px rgba(0,0,0,.3), 0 18px 28px 2px rgba(0,0,0,.21), 0 7px 34px 6px rgba(0,0,0,.18);
$shadow19-strong:  0 9px 12px -6px rgba(0,0,0,.3), 0 19px 29px 2px rgba(0,0,0,.21), 0 7px 36px 6px rgba(0,0,0,.18);
$shadow20-strong:  0 10px 13px -6px rgba(0,0,0,.3), 0 20px 31px 3px rgba(0,0,0,.21), 0 8px 38px 7px rgba(0,0,0,.18);
$shadow21-strong:  0 10px 13px -6px rgba(0,0,0,.3), 0 21px 33px 3px rgba(0,0,0,.21), 0 8px 40px 7px rgba(0,0,0,.18);
$shadow22-strong:  0 10px 14px -6px rgba(0,0,0,.3), 0 22px 35px 3px rgba(0,0,0,.21), 0 8px 42px 7px rgba(0,0,0,.18);
$shadow23-strong:  0 11px 14px -7px rgba(0,0,0,.3), 0 23px 36px 3px rgba(0,0,0,.21), 0 9px 44px 8px rgba(0,0,0,.18);
$shadow24-strong:  0 11px 15px -7px rgba(0,0,0,.3), 0 24px 38px 3px rgba(0,0,0,.21), 0 9px 46px 8px rgba(0,0,0,.18);

.shadow1   {box-shadow: $shadow1;}
.shadow2   {box-shadow: $shadow2;}
.shadow3   {box-shadow: $shadow3;}
.shadow4   {box-shadow: $shadow4;}
.shadow5   {box-shadow: $shadow5;}
.shadow6   {box-shadow: $shadow6;}
.shadow7   {box-shadow: $shadow7;}
.shadow8   {box-shadow: $shadow8;}
.shadow9   {box-shadow: $shadow9;}
.shadow10  {box-shadow: $shadow10;}
.shadow11  {box-shadow: $shadow11;}
.shadow12  {box-shadow: $shadow12;}
.shadow13  {box-shadow: $shadow13;}
.shadow14  {box-shadow: $shadow14;}
.shadow15  {box-shadow: $shadow15;}
.shadow16  {box-shadow: $shadow16;}
.shadow17  {box-shadow: $shadow17;}
.shadow18  {box-shadow: $shadow18;}
.shadow19  {box-shadow: $shadow19;}
.shadow20  {box-shadow: $shadow20;}
.shadow21  {box-shadow: $shadow21;}
.shadow22  {box-shadow: $shadow22;}
.shadow23  {box-shadow: $shadow23;}
.shadow24  {box-shadow: $shadow24;}

.shadow1-light   {box-shadow: $shadow1-light;}
.shadow2-light   {box-shadow: $shadow2-light;}
.shadow3-light   {box-shadow: $shadow3-light;}
.shadow4-light   {box-shadow: $shadow4-light;}
.shadow5-light   {box-shadow: $shadow5-light;}
.shadow6-light   {box-shadow: $shadow6-light;}
.shadow7-light   {box-shadow: $shadow7-light;}
.shadow8-light   {box-shadow: $shadow8-light;}
.shadow9-light   {box-shadow: $shadow9-light;}
.shadow10-light  {box-shadow: $shadow10-light;}
.shadow11-light  {box-shadow: $shadow11-light;}
.shadow12-light  {box-shadow: $shadow12-light;}
.shadow13-light  {box-shadow: $shadow13-light;}
.shadow14-light  {box-shadow: $shadow14-light;}
.shadow15-light  {box-shadow: $shadow15-light;}
.shadow16-light  {box-shadow: $shadow16-light;}
.shadow17-light  {box-shadow: $shadow17-light;}
.shadow18-light  {box-shadow: $shadow18-light;}
.shadow19-light  {box-shadow: $shadow19-light;}
.shadow20-light  {box-shadow: $shadow20-light;}
.shadow21-light  {box-shadow: $shadow21-light;}
.shadow22-light  {box-shadow: $shadow22-light;}
.shadow23-light  {box-shadow: $shadow23-light;}
.shadow24-light  {box-shadow: $shadow24-light;}

.shadow1-strong   {box-shadow: $shadow1-strong;}
.shadow2-strong   {box-shadow: $shadow2-strong;}
.shadow3-strong   {box-shadow: $shadow3-strong;}
.shadow4-strong   {box-shadow: $shadow4-strong;}
.shadow5-strong   {box-shadow: $shadow5-strong;}
.shadow6-strong   {box-shadow: $shadow6-strong;}
.shadow7-strong   {box-shadow: $shadow7-strong;}
.shadow8-strong   {box-shadow: $shadow8-strong;}
.shadow9-strong   {box-shadow: $shadow9-strong;}
.shadow10-strong  {box-shadow: $shadow10-strong;}
.shadow11-strong  {box-shadow: $shadow11-strong;}
.shadow12-strong  {box-shadow: $shadow12-strong;}
.shadow13-strong  {box-shadow: $shadow13-strong;}
.shadow14-strong  {box-shadow: $shadow14-strong;}
.shadow15-strong  {box-shadow: $shadow15-strong;}
.shadow16-strong  {box-shadow: $shadow16-strong;}
.shadow17-strong  {box-shadow: $shadow17-strong;}
.shadow18-strong  {box-shadow: $shadow18-strong;}
.shadow19-strong  {box-shadow: $shadow19-strong;}
.shadow20-strong  {box-shadow: $shadow20-strong;}
.shadow21-strong  {box-shadow: $shadow21-strong;}
.shadow22-strong  {box-shadow: $shadow22-strong;}
.shadow23-strong  {box-shadow: $shadow23-strong;}
.shadow24-strong  {box-shadow: $shadow24-strong;}
