// Shapes
.sharp{border-radius: 0 !important}
.rounded{border-radius: 10em !important}


// Text
.text-underline{text-decoration: underline !important;}

.text-smaller{font-size: 0.75em;}
.text-small{font-size: 0.85em;}
.text-big{font-size: 1.3em;}
.text-bigger{font-size: 1.8em;}

.font-family-tiempos{font-family: 'Tiempos', Georgia, serif;}


// backgrounds
.switch-bg-green-xs.switch-bg-green-xs{

  @include media-breakpoint-down(xs){
    background: $green !important;

    h1, h2, h3, p{
      color: #fff !important;
    }
  }
}


// Z-index
.zi1{z-index: 1;}
.zi2{z-index: 2;}
.zi3{z-index: 3;}
